<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
</head>
<body>
	<h1>Leaderboard</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
<!--			{% for name, score in leaderboard %}-->
<!--				<tr>-->
<!--					<td>{{ name.name }}</td>-->
<!--					<td>{{ score.score }}</td>-->
<!--				</tr>-->
<!--			{% endfor %}-->
		{% for item in leaderboard %}
    <tr>
      <td>{{ item['name'] }}</td>
      <td>{{ item['score'] }}</td>
    </tr>
    {% endfor %}
		</tbody>
	</table>
</body>
</html>
