<!doctype html>
<html>
<head>
    <title>Guess that</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body>
    <h1>Guess That!</h1>
    <p> Answer : {{result}}</p>
    <div>
    <form action="/submit" method="post">
            <p>{{ question['text'] }}</p>
            <input type="hidden" name="correct_answer" value="{{ question['answer'] }}">


        <div class="input-container">
        <input type="submit"  name="answer" value="{{question['answers'][0]}}">
        <div class="radio-tile">
          <label>{{question['answers'][0]}}</label>
        </div>





        <label>
                <input type="submit" name="answer" value="{{question['answers'][0]}}">

            </label>
            <label>
                <input type="submit" name="answer" value="{{question['answers'][1]}}">

            </label>
        <label>
                <input type="submit" name="answer" value="{{question['answers'][2]}}">

            </label>
        <label>
                <input type="submit" name="answer" value="{{question['answers'][3]}}">

            </label>





            <br>
        </form>
    </div>


    <p>Score: {{score}}</p>
    <p>Lives: {{lives}}</p>
</body>
</html>
