<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>





input type="radio" id="easy" name="difficulty" value="easy" checked="checked">
    <input type="radio" id="medium" name="difficulty" value="medium">
    <label for="medium">Medium</label><br>

    <input type="radio" id="hard" name="difficulty" value="hard">
    <label for="hard">Hard</label><br>

    <br>
    <br>



    <input type="radio" id="sport" name="category" value="21">
    <label for="sport">Sport</label><br>

    <input type="radio" id="science" name="category" value="10">
    <label for="science">Science</label><br>

    <input type="radio" id="mix" name="category" value="0" checked="checked">
    <label for="mix">Mix</label><br>

  <input type="submit" value="Submit">


 </form>




</body>
</html>
